/* Index html section */

table {
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}


/* Login html section */

#container {
    top: 30%;
    left: 50%;
    border-top: 50px;
    margin: auto;
    position: absolute;
}