<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket supervisor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Ticket supervisor data</h1>
    <table class="table table-bordered">
        <tr>
            <th scope="col">ID:</th>
            <th scope="col">Utente apertura:</th>
            <th scope="col">Utente segnalato:</th>
            <th scope="col">ID task:</th>
            <th scope="col">Note:</th>
            <th scope="col">Tag:</th>
            <th scope="col">Data apertura:</th>
            <th scope="col">Data chiusura:</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.utente_apertura }}</td>
            <td>{{ ticket.utente_segnalato }}</td>
            <td>{{ ticket.id_task }}</td>
            <td>{{ ticket.note }}</td>
            <td>{{ ticket.tag }}</td>
            <td>{{ ticket.data_apertura }}</td>
            <td>{{ ticket.data_chiusura }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% if current_user.is_admin %}
    <button onclick="document.getElementById('addModalButton').style.display='block'">Add ticket</button>
    {% endif %}
    
    <!-- Modal created for admin for adding data } -->
    <div id="addModal" style="display:true;" action="/index.html">
        <form action="{{ url_for('add_ticket') }}" method="POST">
            <label for="utente_apertura">Utente apertura:</label>
            <input type="text" id="utente_apertura" name="utente_apertura" required><br>
            <label for="utente_segnalato">Utente segnalato:</label>
            <input type="text" id="utente_segnalato" name="utente_segnalato" required><br>
            <label for="id_task">ID task:</label>
            <input type="text" id="id_task" name="id_task" required><br>
            <label for="note">Note:</label>
            <textarea id="note" name="note"></textarea><br>
            <label for="tag">Tag:</label>
            <input type="text" id="tag" name="tag"><br>
            <label for="data_apertura">Data apertura:</label>
            <input type="datetime-local" id="data_apertura" name="data_apertura"><br>
            <label for="data_chiusura">Data chiusura:</label>
            <input type="datetime-local" id="data_chiusura" name="data_chiusura"><br>
            <button type="submit">Add</button>
        </form>
        <button type id="closeButton">Close</button>
    </div>
</body>
</html>